.products-img {
    width: 100%;
    height: auto;
}
.products-name {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 26px;
}
.seasion-item{
    overflow: hidden;
}
.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}